
.select {
  width: 100%;
  height: min-content;
  background-color: rgb(37, 37, 37);
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
  padding: 5px 0;
  text-align-last: center;
}

.option {
  outline: none;
}
.buttonfilter:hover {
  background: #3f3f40;
}
